*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    /* box-sizing: border-box; */
}
.container{
    width: 1200px;
    border: 1px brown solid;
    margin-left:38px ;
}
h1{

    text-align: center;
}
table, tr, td, th{
    border: 1px solid;
    border-collapse: collapse;
    
}
.que{
    margin: 30px;
}
 
.q6-ans{
    background-color: black;
    color: white;
}
.q7-ans1{
    background-repeat: repeat; 
    background-image: url(images.jpg);
    /* width: 1000px;  */
}
.q7-ans2 img{
    background-image: url(images.jpg);
    background-repeat:no-repeat;  

}
.box{
    width:300px;
    margin:10px auto;
    background-color: aqua;
    color: black;
}
.layout-w{
    margin: 0px 30px;
}
.layout{
    background-color: whitesmoke;
}
.lay-tr{
    display: flex;
}
.pd1{
    margin: 10px;
    background-color: aliceblue;
    border: 1px solid;
}
.thumbnail{
    background-color: #55595c;
    color: white;
    /* width: 200px; */
    padding: 80px;
    text-align: center;
}
.imf{
    margin: 20px;

}
.but{
    display: flex;
    margin-top: 15px;
}
.a{
    border: 1px solid;
    padding: 3px 10px;
}